extends layout
block head
	link(rel='stylesheet', href='/icons/css/icons.css')
block content
	p
		strong I
		|cons are
		strong a
		|wesome! They will go here!
block bottom
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript', src='/icons/js/icons.js')